---
title: contact
layout: base.njk
---

<header>
    <nav>
        <ul>
            <li><a href="index.njk">home</a></li>
            <li><a href="contact.njk">contact</a></li>
        </ul>
    </nav>
</header>
<div class="contentContainer">
    <h1>contact</h1>
</div>